@media (max-width: 768px) {
	.diagonal-section {
		position: static;
		display: flex;
		justify-content: center;
		margin-bottom: 1.5rem;
	}
}
* {
	scroll-behavior: smooth;
}
.diagonal-section {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.3s ease;
}
.diagonal-1 {
	transform: rotate(-15deg);
	top: 20%;
	left: 40px;
}
.diagonal-2 {
	transform: rotate(12deg);
	top: 50%;
	left: 60%;
}
.diagonal-3 {
	transform: rotate(-8deg);
	bottom: 15%;
	left: 40%;
}
.hero-gradient {
	background: linear-gradient(135deg, rgba(26, 31, 60, 0.95) 0%, rgba(0, 0, 0, 0.95) 100%);
}
.blur-bg {
	backdrop-filter: blur(5px);
}

/* Musik Player */
#music-player {
	position: fixed;
	width: 110px;
	height: 70px;
	z-index: 9999;
	cursor: grab;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
}

.corner {
	transition: all 0.3s ease;
}

.top-left {
	top: 10px;
	left: 10px;
}
.top-right {
	top: 10px;
	right: 10px;
}
.bottom-left {
	bottom: 10px;
	left: 10px;
}
.bottom-right {
	bottom: 10px;
	right: 10px;
}

/* Gaya untuk loading screen */
#loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	z-index: 9999;
}

.logo {
	width: 70px;
	height: 70px;
	/* border: 2px solid black; */
	border-radius: 50%;
	text-align: center;
	line-height: 60px;
	opacity: 0;
	transition: opacity 0.5s ease;
}

/* Tambahkan kelas ini saat animasi dimulai */
.logo.fade-in {
	opacity: 1;
}
